.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body {
  margin: 0;
}
.title {
  text-align: center;
  background-color: gray;
  margin-bottom: 0;
  margin-top: 0;
}
.game-content {
  display: flex;
  flex-grow: 1;
}
.wrapper-player1{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: orange;
}
.wrapper-game{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
}
.wrapper-player2 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: orange;
}
.board{
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.tile {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pointer1,#pointer2 {
  height: 100px;
  width: 70px;
  background-color: inherit;
}
